University_Ex/university/exam/__pycache__/__init__.cpython-310.pyc
University_Ex/university/exam/__pycache__/__init__.cpython-310.pyc
University_Ex/university/exam/__pycache__/__init__.cpython-310.pyc
University_Ex/university/exam/__pycache__/__init__.cpython-310.pyc
University_Ex/university/exam/__pycache__/__init__.cpython-310.pyc
University_Ex/university/exam/__pycache__/__init__.cpython-310.pyc
University_Ex/university/exam/__pycache__/__init__.cpython-310.pyc
University_Ex/university/exam/__pycache__/__init__.cpython-310.pyc
University_Ex/university/exam/__pycache__/__init__.cpython-310.pyc
University_Ex/university/exam/__pycache__/__init__.cpython-310.pyc
University_Ex/university/exam/__pycache__/__init__.cpython-310.pyc
University_Ex/university/exam/__pycache__/__init__.cpython-310.pyc
University_Ex/university/exam/__pycache__/__init__.cpython-310.pyc
University_Ex/university/exam/__pycache__/__init__.cpython-310.pyc
University_Ex/university/exam/__pycache__/__init__.cpython-311.pyc
University_Ex/university/exam/__pycache__/admin.cpython-310.pyc
University_Ex/university/exam/__pycache__/Form.cpython-310.pyc
University_Ex/university/exam/__pycache__/Form.cpython-311.pyc
University_Ex/university/exam/__pycache__/models.cpython-310.pyc
University_Ex/university/exam/__pycache__/urls.cpython-310.pyc
University_Ex/university/exam/__pycache__/views.cpython-310.pyc
University_Ex/university/exam/migrations/0002_remove_exam_start_end_time_and_more.py
University_Ex/university/exam/migrations/__pycache__/__init__.cpython-311.pyc
University_Ex/university/exam/migrations/__pycache__/0001_initial.cpython-311.pyc
University_Ex/university/exam/migrations/__pycache__/0002_remove_exam_start_end_time_and_more.cpython-311.pyc
University_Ex/university/university/__pycache__/__init__.cpython-310.pyc
University_Ex/university/university/__pycache__/settings.cpython-310.pyc
University_Ex/university/university/__pycache__/urls.cpython-310.pyc
University_Ex/university/university/__pycache__/wsgi.cpython-310.pyc
University_Ex/university/university/__pycache__/wsgi.cpython-311.pyc
University_Ex/university/exam/__pycache__/__init__.cpython-310.pyc
University_Ex/university/exam/__pycache__/__init__.cpython-311.pyc
University_Ex/university/exam/__pycache__/admin.cpython-310.pyc
University_Ex/university/exam/__pycache__/Form.cpython-310.pyc
University_Ex/university/exam/__pycache__/Form.cpython-311.pyc
University_Ex/university/university/__pycache__/urls.cpython-310.pyc
University_Ex/university/university/__pycache__/wsgi.cpython-310.pyc
University_Ex/university/university/__pycache__/wsgi.cpython-311.pyc
University_Ex/university/university/__pycache__/settings.cpython-310.pyc
University_Ex/university/university/__pycache__/__init__.cpython-310.pyc
University_Ex/university/exam/migrations/__pycache__/0002_remove_exam_start_end_time_and_more.cpython-311.pyc
University_Ex/university/exam/migrations/__pycache__/0001_initial.cpython-311.pyc
University_Ex/university/exam/migrations/__pycache__/__init__.cpython-311.pyc
University_Ex/university/exam/migrations/0002_remove_exam_start_end_time_and_more.py
.env
.gitignore
db.sqllite3


