{% load static %}
<header>
  <nav class="navbar navbar-expand-md navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand me-auto" href="#">university</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item me-3{% if request.resolver_match.view_name == 'student_home' %} active{% endif %}">
            <a class="nav-link" href="{% url 'student_home' %}">Home</a>
          </li>
          <li class="nav-item me-3{% if request.resolver_match.view_name == 'rooms' %} active{% endif %}">
            <a class="nav-link" href="{% url 'rooms' %}">Rooms</a>
          </li>
          {% if request.user.role == 'TEACHER' or request.user.role == 'ADMIN' %}
          <li class="nav-item me-3{% if request.resolver_match.view_name == 'assi_path' %} active{% endif %}">
            <a class="nav-link" href="{% url 'assi_path' %}">Assignments</a>
          </li>
          <li class="nav-item me-3{% if request.resolver_match.view_name == 'all_teacher_time' %} active{% endif %}">
            <a class="nav-link" href="{% url 'all_teacher_time' %}">Teachers</a>
          </li>
          <li class="nav-item me-3{% if request.resolver_match.view_name == 'display_exam' %} active{% endif %}">
            <a class="nav-link" href="{% url 'display_exam' %}">Exam</a>
          </li>
          {% endif %}
          <div class="navbar-nav ml-right">
            <a class="nav-item nav-link" href="#">
              Notifications
              <i class="fas fa-bell"></i>
              <span class="badge badge-danger">1</span>
            </a>
          </div>
          <li class="nav-item me-3{% if request.resolver_match.view_name == 'contact_path' %} active{% endif %}">
            <a class="nav-link" href="{% url 'contact_path' %}">ContactUs</a>
          </li>
          {% if request.user.is_authenticated %}
          <li class="nav-item me-3">
            <span class="nav-link">{{ request.user.username }}</span>
          </li>
          <li><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
          {% else %}
          <li class="nav-item me-3">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
          {% endif %}
          {% if request.user.role == 'ADMIN' %}
          <li class="nav-item dropdown" >
            <a class="nav-link dropdown-toggle
            {% if request.resolver_match.view_name == 'add_teacher' %} active{% endif %} 
            {% if request.resolver_match.view_name == 'add_teacher' %} active{% endif %}
            {% if request.resolver_match.view_name == 'add_teacher' %} active{% endif %}
            {% if request.resolver_match.view_name == 'add_student' %} active{% endif %}
            {% if request.resolver_match.view_name == 'add_teacher' %} active{% endif %}
            {% if request.resolver_match.view_name == 'add_exam' %} active{% endif %}"
              href="#" id="adminDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              MANAGE
            </a>
            <div class="dropdown-menu" aria-labelledby="adminDropdown">
              <a class="dropdown-item" href="{%url 'add_teacher' %}">Manage Teacher</a>
              <a class="dropdown-item" href=" {% url 'add_student' %} ">Manage Student</a>
              <a class="dropdown-item" href=" {% url 'add_exam' %} ">Manage Exam</a>
              <a class="dropdown-item" href=
              "
              {% url 'all_time'%}
              ">Manage Time</a>

            </div>
          </li>
          {% endif %}



        </ul>
      </div>
    </div>
  </nav>
</header>