{% load static %}

<head>
  <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
</head>

<header>
  <nav class="navbar navbar-expand-md navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand me-auto" href="#">Exam Supervision Management</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item me-3">
            <a class="nav-link active" href="{% url 'student_home' %}">Home</a>
          </li>
  
          <li class="nav-item me-3">
            <a class="nav-link" href="{% url 'rooms' %}">Rooms</a>
          </li>
          {% if request.user.role == 'TEACHER' or request.user.role == 'ADMIN'  %}
          <li class="nav-item me-3">
            <a class="nav-link" href="{% url 'assi_path' %}">Assignments</a>
          </li>
          <li class="nav-item me-3">
            <a class="nav-link" href="{% url 'teacher_path' %}">Teachers</a>
          </li>
          <li class="nav-item me-3">
            <a class="nav-link" href="{% url 'display_exam' %}">Exam</a>
          </li>
          {% endif %}
          <li class="nav-item me-3">
            <a class="nav-link" href="#">Notifications</a>
          </li>
          <li class="nav-item me-3">
            <a class="nav-link" href="{% url 'contact_path' %}">Contact Us</a>
          </li>

          {% if request.user.is_authenticated %}

          <li class="nav-item me-3">
            <span class="nav-link"> {{request.user.username}} </span>
          </li>
          <li> <a class="nav-link" href="{% url 'logout' %}">Logout</a></li>

          {% else %}

                  <li class="nav-item me-3">
                  <a class="nav-link" href="{% url 'login' %}">Login</a>
                  </li>
          {% endif %}

          {% if request.user.role == 'ADMIN' %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              MANAGE
            </a>
            <div class="dropdown-menu" aria-labelledby="adminDropdown">
              <a class="dropdown-item" href="{\
                url 'add_teacher' %}">Manage Teacher</a>
              <a class="dropdown-item" href=" {% url 'add_student' %} ">Manage Student</a>
              <a class="dropdown-item" href=" {% url 'add_exam' %} ">Manage Exam</a>
              <a class="dropdown-item" href=
              "
              {% url 'all_time'  %}
              ">Manage Time</a>

            </div>
          </li>
          {% endif %}



        </ul>
      </div>
    </div>
  </nav>
</header>