<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand me-auto" href="#">Exam Supervision Management</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item me-3">
            <a class="nav-link active" href="{% url 'student_home' %}">Home</a>
          </li>
          <li class="nav-item me-3">
            <a class="nav-link" href="{% url 'teacher_path' %}">Teachers</a>
          </li>
          <li class="nav-item me-3">
            <a class="nav-link" href="{% url 'room_path' %}">Rooms</a>
          </li>
          <li class="nav-item me-3">
            <a class="nav-link" href="{% url 'assi_path' %}">Assignments</a>
          </li>
          <li class="nav-item me-3">
            <a class="nav-link" href="#">Notifications</a>
          </li>
          <li class="nav-item me-3">
            <a class="nav-link" href="{% url 'contact_path' %}">Contact Us</a>
          </li>
          <li class="nav-item me-3">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Admin
            </a>
            <div class="dropdown-menu" aria-labelledby="adminDropdown">
              <a class="dropdown-item" href="{% url 'add_teacher' %}">Teacher</a>
              <a class="dropdown-item" href=" {% url 'add_student' %} ">Student</a>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</header>