{% extends 'bases/base.html' %}
{% block content %}
<style>
  /* Set the table to be responsive */
  .container {
    overflow-x: auto;
  }
  
  /* Set the table width to 100% to fit the container */
  .table {
    width: 100%;
  }
  
  /* Add some style to the table header */
  .table thead th {
    background-color: gray;
    color: #fff;
    text-align: center;
  }
  
  /* Add some padding to the table cells */
  .table td, .table th {
    padding: 0.75rem;
  }
  
  /* Add some border to the table */
  .table {
    border-collapse: collapse;
    border: 1px solid #dee2e6;
  }
  
  /* Add some hover effect to the table rows */
  .table tbody tr:hover {
    background-color: #f5f5f5;
  }
  
  /* Style the button */
  .btn {
    margin: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    background-color: gray;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  /* Add some responsive styles */
  @media (max-width: 576px) {
    /* Hide the table header */
    .table thead {
      display: none;
    }
    
    /* Show the table rows as block elements */
    .table tbody tr {
      display: block;
      margin-bottom: 1rem;
      border: 1px solid #dee2e6;
    }
    
    /* Show the table cells as inline-block elements */
    .table tbody td {
      display: inline-block;
      text-align: left;
    }
    
    /* Set the table cell width */
    .table tbody td:before {
      content: attr(data-th);
      font-weight: bold;
      display: inline-block;
      width: 6rem;
      margin-right: 0.5rem;
    }
  }
  

</style>
<div class="container">
<table class="table">
    <thead>
      <tr>
        <th scope="col">Teacher Name</th>
        <th scope="col">Class</th>
        <th scope="col">Subject</th>
        <th scope="col">Room Number</th>
        <th scope="col">Day</th>
        <th scope="col">Time</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John Smith</td>
        <td>12A</td>
        <td>Math</td>
        <td>101</td>
        <td>Monday</td>
        <td>9:00am - 10:00am</td>
      </tr>
      <tr>
        <td>Jane Doe</td>
        <td>9B</td>
        <td>English</td>
        <td>102</td>
        <td>Wednesday</td>
        <td>1:00pm - 2:00pm</td>
      </tr>
      <tr>
        <td>Bob Johnson</td>
        <td>10C</td>
        <td>Science</td>
        <td>103</td>
        <td>Friday</td>
        <td>10:00am - 11:00am</td>
      </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-primary">Generate Report</button>
</div>
  {% endblock content %}