{% extends 'bases/base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Teacher Home</h1>
  
    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Course Schedule</h2>
            <p class="card-text">View your course schedule and class details.</p>
            <a href="#" class="btn btn-primary">View Schedule</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Exam Schedule</h2>
            <p class="card-text">View your full exam schedule and exam details.</p>
            <a href="#" class="btn btn-primary">View Schedule</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Grades</h2>
            <p class="card-text">View your students' current grades and progress in each course.</p>
            <a href="#" class="btn btn-primary">View Grades</a>
          </div>
        </div>
      </div>
    </div>
  </div>


    
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                  

                    <div class="card-body">
               
                    </div>
                </div>
            </div>
        </div>
      
  
  

{% endblock content %}
