{% extends 'bases/base.html' %}
{% block content %}

<!--section-->
<section id="rooms" class="py-5">
    <div class="container">
        <h2 class="text-center mb-5">Exam Rooms</h2>
        {% for room in rooms %}
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    
                    <div class="card-body">
                        
                        <h3> Room {{ room.id }}</h3>
                        <p> Capacity :{{ room.max_capacity}}</p>
                        <p> location :{{ room.name }}</p>
                        
                    </div>
                   
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>


{% endblock content %}